/* * {
  background-color: aqua;
} */

/* entire document */
body {
  background-color: rgba(214, 233, 176, .5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(31, 44, 4);
}

/* header */

header {
  margin: 0px auto;
  width: 960px;
  background-color: RGB(214, 233, 176);
  height: 190px;
}

header > img {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

h1 {
  text-align: center;
  padding: 30px;
  margin-right: 150px;
}

header > nav {
  float: right;
}

header > nav > ul > li {
  display: inline-block;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  border-radius:  25px;
  margin: 5px;
  padding: 5px;
  margin-right: 30px;
  background-color:  rgb(164, 185, 122)
}

header > nav > ul > li > a {
  color: inherit;
} 

.group {
  color: chartreuse;
}

#item-one {
  color: deeppink;
}

/* main */
main {
  margin: 0px auto;
  width: 960px;
  background-color: RGB(214, 233, 176);
  text-align: center;
  padding-top: 30px;
}

section {
  border: 5px dotted olivedrab;
  width: 300px;
  display: inline-block;
  background-color: rgb(164, 185, 122, .5);
  border-radius: 25px;
  margin-bottom: 10px;
}

main > section > img {
  border: 2px solid rgb(31,44,4);
}  

/* footer */